<ion-view title="About">
    <ion-content overflow-scroll="true" padding="true" style="background: url(img/UczAQKuhRj6A6pKP6LpX_bgm.jpg) no-repeat center;" class="has-header">
        <div style="text-align:center;">
            <img src="img/WF3hDGOfQquvWt7WFj36_logo.png" width="100%" height="auto">
        </div>
        <div class="spacer" style="width: 283px; height: 85px;"></div>
        <div style="background-color:rgba(51, 51, 51, 0.59);">
            <h3 style="color:#fff">Ricardo Campos 2016</h3>

            <h5 style="color:#fff">ricardocamposp@gmail.com</h5>
            <h5 style="color:#fff">https://github.com/rcamposp/socialdj</h5>

            <h5 style="color:#fff">This is an example developed to showcase Ionic Creator. Feel free to use it as you wish.</h5>
        </div>
    </ion-content>
</ion-view>