<ion-view title="Playlist">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div style="text-align:center;">
            <img src="img/ayHvEu4ESyCc5gWpyHQV_logo.png" width="100%" height="auto">
        </div>
        <ion-list ng-repeat="song in SharedData.songList">
            <ion-item class="item-thumbnail-left">
                <img src="{{song.thumb}}" ng-click="deleteSong(song)">
                <h2>{{song.name}}</h2>
                <p>{{song.artist}}</p>
            </ion-item>
            <!--<ion-item class="item-thumbnail-left">
                <img src="img/0FhlRVOyQAG3xJmHUncj_holy_fire.jpg">
                <h2>Out Of The Woods</h2>
                <p>Foals</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img src="img/jN3n2IxvTfWPTawH7VFL_Soulchef.jpg">
                <h2>Summer Rain</h2>
                <p>Soulchef</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img src="img/kiYB550vT0KznPqsSp1u_i_am_a_river.jpg">
                <h2>I Am A River</h2>
                <p>Foo Fighters</p>
            </ion-item>-->
        </ion-list>
    </ion-content>
</ion-view>