<ion-view title="Search">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list">
            <label class="item item-input">
                <input type="text" placeholder="Song or Artist">
            </label>            
        </form>     
        <button class="button button-positive   icon-left ion-android-search">Search</button>   
        <div class="spacer" style="width: 283px; height: 38px;"></div>
        <ion-item class="item-divider">Results</ion-item>
        <ion-list>            
            <ion-item class="item-thumbnail-left">
                <img>
                <h2>Song Name</h2>
                <p>Artist</p>
            </ion-item>         
            <ion-item class="item-thumbnail-left">
                <img>
                <h2>Song Name</h2>
                <p>Artist</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img>
                <h2>Song Name</h2>
                <p>Artist</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img>
                <h2>Song Name</h2>
                <p>Artist</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>